<h1> Yo ho ho</h1>
 

<% for(var i = 0 ; i< op.length; i++){ %>


<li> name:-<strong><%= op[i].show.name %></strong>--<b> Language:-</b><%=  op[i].show.language %>--<b> date:-</b> <%= op[i].show.premiered %> </li>

<% console.log(op[i].show) %>

<%}%>